# Firebase Configuration
VITE_FIREBASE_API_KEY=AIzaSyAFAg5iLtdBUffQgz6wYHw1gZl35PAQTPc
VITE_FIREBASE_AUTH_DOMAIN=globaldashboard-4598e.firebaseapp.com
VITE_FIREBASE_PROJECT_ID=globaldashboard-4598e
VITE_FIREBASE_STORAGE_BUCKET=globaldashboard-4598e.firebasestorage.app
VITE_FIREBASE_MESSAGING_SENDER_ID=815382375083
VITE_FIREBASE_APP_ID=1:815382375083:web:2ab02864ed655ab97fe5ee

# API Configuration
VITE_API_URL=https://datagate-backend-pc3rcojdtq-uc.a.run.app
